# Label Encoding com Python

Esse arquivo é parte do tutorial como realizar Label Encoding em Python

In [1]:
# Importando as bibliotecas necessárias
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [2]:
# Onde baixar os dados para utilizar no exemplo 2 logo mais abaixo
#https://www.kaggle.com/datasets/uciml/iris

In [3]:
# Criando o Dataframe para testarmos
df = pd.DataFrame({'formacao': ['Superior Completo', 'Ensino Médio Completo', 'Superior Completo', 'Ensino Médio Completo', 'Superior Completo', 'Superior Completo'],
                      'faixa de idade': ['25-34','18-24','34-44','45-54','25-34','45-54' ],
                      'estado civil': ['Casado','Solteiro','Casado','Solteiro','Solteiro','Divorciado']})

In [4]:
# Instanciando o LabelEncoder para utilização
label_encoder = LabelEncoder()

In [5]:
# Adicionei a coluna estado civil encoder com os dados gerados do Label Encoding,
# mas no caso dependendo da sua analise pode sobrescrever os dados da coluna estado civil, fiz apenas para ilustrar
df['estado civil encoder']= label_encoder.fit_transform(df['estado civil'])

In [6]:
df

                formacao faixa de idade estado civil  estado civil encoder
0      Superior Completo          25-34       Casado                     0
1  Ensino Médio Completo          18-24     Solteiro                     2
2      Superior Completo          34-44       Casado                     0
3  Ensino Médio Completo          45-54     Solteiro                     2
4      Superior Completo          25-34     Solteiro                     2
5      Superior Completo          45-54   Divorciado                     1

In [7]:
# Invertendo o Label Encoding em python
# Esse método ele volta 
df['estado civil encoder']= label_encoder.inverse_transform(df['estado civil encoder'])

In [8]:
df

                formacao faixa de idade estado civil estado civil encoder
0      Superior Completo          25-34       Casado               Casado
1  Ensino Médio Completo          18-24     Solteiro             Solteiro
2      Superior Completo          34-44       Casado               Casado
3  Ensino Médio Completo          45-54     Solteiro             Solteiro
4      Superior Completo          25-34     Solteiro             Solteiro
5      Superior Completo          45-54   Divorciado           Divorciado

## Exemplo 2

In [16]:
#lendo os dados do dataset
df_iris = pd.read_csv('dados/iris/Iris.csv')

In [17]:
df_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [18]:
#aplicaremos o Label Enconding na colua Species
# identificando quantos valores unicos existem
# veja que a saída de dados é no formato categórico
df_iris['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [19]:
# Aqui instanciamos o Label Encoder (não precisaria já que foi instanciado antes)
label_encoder = LabelEncoder()

In [20]:
label_encoder.fit(df_iris['Species'])

LabelEncoder()

In [21]:
# Aqui fazemos a transformação para númerico
df_iris['Species'] = label_encoder.transform(df_iris['Species'])

In [22]:
df_iris['Species'].unique()

array([0, 1, 2])

In [25]:
df_iris

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]